<div  class="card" style="background-color: rgb(237, 237, 237); height:100%;width: 50%;margin-left: 25% ;padding: 5% 10%; margin-top: 5%;margin-bottom: 5%; border-radius: 0%; border:  rgb(237, 237, 237) 2px solid;">
  <div class="card-title"style="color:#2B2B68;margin-left:22%; font-size:230%"><p><strong> Merci Pour Ton Achat </strong></p></div>
  <img style="width:30%; margin-left:37%; padding-top:3%" src="assets\image\logo1.jpeg">
  <div   class="card-body"style="padding-top:5%; margin-left:30%;">
    <p style="width:100%;margin-left: -10%;color:#2B2B68; "><strong>Bonjour, nous préparions votre commande </strong></p>

    <p style="width:100%; margin-left:20%;color:#4a4a4e; "><strong>Livraison</strong></p>
    <p style="width:100%; margin-left:3%;color:#2B2B68; ">Livraison à domicile ou au bureau</p>
  </div>
</div>