@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.card{
  max-width: 75%;
  margin-left: 15%;
  padding-top: 0%;
  margin-top: 10%;
  margin-bottom: 5%;
  padding-bottom: -50%;
  border-radius: 0%;
border: white;
color: #2B2B68;
}
.card2{
  margin-left:-13%;
  border-left: 1px solid #2B2B68;
  margin-top: 13%;opacity: 0.5px;
  padding-bottom: -1%;
}
.column{
  margin-left:5%;
}

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  float: left;
}

.rating > input { display: none;  border: 1px solid #2B2B68;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";

}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.descriptioncard{
  margin-top: -10%;
  width: 35%;
  margin-left: 10%;
  font-family:justify;
}
