.item{
  border: 2px solid rgb(181, 180, 180);
margin:0.5%;
height: 220px;
width: 1800px;
position: relative;
}
.container{
  width: max-content;
  position: static;
  margin-bottom:10%;
}
::-webkit-scrollbar {
 height: 5px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #2B2B68 ;
	border-radius: 10px;
	background-color: #2B2B68  ;
  border-left: 3px solid white;
  border-right: 3px solid white;;

}
.dd-input:checked + .dd-menu {
  display: none;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background:#2B2B68;
  border-radius: 0px;
	border-radius: 0px;
  height: 2px;
  padding-top: 5px;
 margin-inline-start: 5%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2B2B68;
}
.d-flex{
  margin-top: 4%;
  margin-left: 8%;
margin-bottom: 10%;
width: 30%;
}

.item a img{
width: 70%;
margin-left: 15%;
margin-top: 20%;
}
h6{
  margin-top: 5%;
  text-align: center;
  color:#2B2B68;
  font-family: poppins, bold;
  font-weight: 100;
  font-size: 15px;
}
.item:hover{
  transform: scale(1.03,1.03);
  box-shadow:2px 2px  whitesmoke;

;
}
.m{
height:150px;
  border: 2px solid #2B2B68 ;
  width: 1290px;
  margin-left: 150px;
  margin-top: 2.5%;
  background-color: whitesmoke;
  border: whitesmoke;
}
.card{
  height: 390px;
  width: 280px;
  margin: 1%;
  background-color: whitesmoke;
  border: whitesmoke;

}
.card:hover{
  transform: scale(1.05,1.05);
  box-shadow: 1px grey;
}

.row{
  margin-left: 3%;
}
.card img{
position: absolute;
width: 50%;
padding-top: 15%;
margin-left: 25%;
}
.card .nom{
  padding-top: 90%;
}
p{
  color: #2B2B68;

  font-family: poppins,bold;
}
.price{
  margin-top: 3%;
}
.card{
  position: relative;
}
.bouton{
  background-color: #FF5330;
  border:2px solid #FF5330;
  border-radius: 0%;
  margin-left: 7%;
  margin-top: 1%;
  margin-bottom: -20px;
  font-size: large;
  width: 210px;
}
.m p{
  position: relative;
  padding-top: 8px ;
  padding-left: 5%;
}
 p .bare{
  font-size: 100%;
}
.column{
  margin-top: 6%;
  margin-bottom: 3%;
  margin-left:7%;
  max-width: 25%;
width: 25%;
  border-color: 2px solid #2B2B68
}
option{
  color: #2B2B68;

}


/* Dropdown */

.dropdown {
  display:inline-block;
  position:relative;
}

.dd-button {
  display:inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 130px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
  width: 320px;
  color: #2B2B68;
  font-size: large;
  border: 1.775px solid #2B2B68;
  border-radius: 0%;
}

.dd-button:after{
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #2B2B68;
}

.dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display:none;
}

/* Style The Dropdown Button */
.dropbtn {
  color:  rgb(237, 237, 237) ;
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: rgb(237, 237, 237);

  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(237, 237, 237);;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #2B2B68;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #2B2B68;
  padding: 12px 16px;
  background-color:ghostwhite;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: white}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;}



.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 0px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 whitesmoke;
  background-color: #ffffff;
  list-style-type:none;
}
.scrollable-menu {
  position: relative;
  max-height: 350px;
  overflow-x: hidden;
}
.dd-input + .dd-menu {
  display: none;
}

.main {
  position: relative;
  border: 1.5px solid #2B2B68;
  height: 40px;
  background: white;
  width: 283px;
  border-radius: 0px;
  padding-left: 11px;
  padding-right: 33px;
  padding-top: 4px;
  padding-bottom: px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #2B2B68;
  margin-left: -5%;

}


.searchicon {
  position: absolute;
  height: 12px;
  width: 12px;
  background: transparent;
  border: 2px solid #2B2B68;
  left: 280px;
  top: 22px;
  border-radius: 100%;
}
.searchicon:after {
  content: "";
  position: absolute;
  background: #2B2B68;
  height: 6px;
  width: 3px;
  bottom: -5px;
  right: -3px;
  transform: rotate(-45deg);
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 30px;
  cursor: pointer;
  white-space: nowrap;
  width:308px;
}





.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 5px 5px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
.select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

input[type="checkbox"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
  width:1.5em;
  height: 1.5em;
  margin-right:20px;

}

input[type="checkbox"]::before {
  content: "";
  width:1em;
  height: 1em;
  transform: scale(0);

}

input[type="checkbox"]:checked::before {

  transform: scale(1);
}
input[type="checkbox"]::before {
  /* ...existing styles */

  /* Windows High Contrast Mode */
  background-color: #FF5330;
}
input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}
input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #2B2B68;
  width: 1.15em;
  height: 1.15em;
  border: 0.11em solid #2B2B68;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

.form-control + .form-control {
  margin-top: 2em;
}
input[type="checkbox"] {
  /* ...existing styles */

  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}
