<section class="container recipe-container mt-5">
    <div class="catrgories">
      <!-- <h1>Categories</h1> -->
      <div
        class="row row-cols-1 row-cols-sm-3 row-cols-md-6 g-5 text-center gap-5 text-center recipe-categories mt-2"
      >
      <div class="col-lg-2 col-sm-4 categorie">
        <h1>Des recettes simple</h1>
      </div>
        <!-- <div class="col-lg-2 col-sm-4 categorie">
          <img class="center" src="../../assets/image/Rectangle 29.png" width="100px" />
          <p>Health</p>
        </div>
        <div class="col-lg-2 col-sm-4 categorie">
          <img class="center" src="../../assets/image/Rectangle 30.png" width="100px" />
          <p>Tunisienne</p>
        </div>
        <div class="col-lg-2 col-sm-4 categorie">
          <img class="center" src="../../assets/image/Rectangle 31.png" width="100px" />
          <p>Boissons</p>
        </div>
        <div class="col-lg-2 col-sm-4 categorie">
          <img class="center" src="../../assets/image/Rectangle 32.png" width="100px" />
          <p>Dessert</p>
        </div>
        <div class="col-lg-2 col-sm-4 categorie">
          <img class="center" src="../../assets/image/Rectangle 33.png" width="100px" />
          <p>Entrees</p>
        </div>
        <div class="col-lg-2 col-sm-4 categorie">
          <img class="center" src="../../assets/image/Rectangle 34.png" width="100px" />
          <p>Plats</p>
        </div> -->
      </div>
    </div>

    <div class="recipes mt-5">
      <!-- <div class="recipe-title text-center">
          <h1>Des recettes simple</h1>
      </div> -->
      <div class="all-recipes row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5  gap-5  mt-5">
          <div *ngFor="let recette of recettes" class="recipe-cart col-lg-3 col-sm-12">
              <a href="/recetteDetails/{{recette.id}}">
                <span class="recipe-heart rounded-circle"><i class="fa fa-heart recipe-heart-icon" ></i></span>
                <img class="recipe-img" src="data:image/png;base64,{{recette.imageRecette}}" width="336px" height="200px">
                <h4 class="mt-4"><strong>{{recette.nomRecette}}</strong></h4>
                <div class="d-flex gap-2 recipe-time mt-5">
                    <img src="../../assets/image/time.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                    <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                        <div>
                            <p class="mb-0 ">30 Minutes</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-2 recipe-type mt-5">
                    <img src="../../assets/image/eat-solid.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                    <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                        <div>
                            <p class="mb-0   ">Snack</p>
                        </div>
                    </div>
                </div>
              </a>
          </div>
      </div>
    </div>
  </section>
