<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>



<div class="container-fuild"style="padding-left:3%;" >
  <div class="card" style=" border: none;width: 90rem; height: 30rem;">
    <i class="bi bi-circle-fill cirle" style=" margin-left:1100px;margin-top: 7%; font-size: 14rem; color: #FF5330;">
    </i>
    <div class="card-body">
      <img style="margin-left: 70%;" class="card-img-top" src ="assets\image\pub.png "alt="Card image cap">
      <h4 class="card-title bien"><strong>Bienvenue !</strong></h4>
    <p class="card-text pub"><strong>Sélectionnez<img class="img1" src="assets\image\money1.jpeg" alt="Card image cap"><img class="img2" src="assets\image\fleche.jpeg" alt="Card image cap"style="margin-left:8%;margin-top:-20%;"><br>
      et gagner des deals</strong></p>
      <a routerLink="/deals" class="btn btn-primary bouton" style="font-family:poppins;font-size: larger; ">Commencer maintenant <i class="bi bi-arrow-right fa-lg" style="color: white;"></i></a>
    </div>
  </div>
</div>
<div class="container-fluid" style="margin-top: 3%;">
  <div class="row row-cols-1 row-cols-md-3 g-4"style="padding-left:15%; padding-right:15%" >
    <div class="col">
      <div class="card h-100 box">
        <i class="bi bi-circle-fill cirle" style=" margin-left: 35%;margin-top: -20%; font-size: 5rem; color:white;">
        </i>
        <i class="bi bi-circle-fill cirle" style=" margin-left: 33.5%;margin-top: -37%; font-size: 5rem; color:#FF5330;">
          <img class="card-image" src="assets\image\casque.PNG" style="position: relative; margin-left: -70px; width:55px; margin-top: -18px;">

        </i>
        <div class="card-body">
          <h5 class="card-title" style="margin-left: 30%;font-weight: 700; font-family:poppins, normal; font-size: large;">Service Client</h5>
          <p class="card-text" style="font-weight: 100;padding-bottom: 10%; margin-top:18%;color: white;text-align: center; font-family:poppins, normal;font-size:18px;">service de satisfaction client <br>pour vos suggestions<br> ou vos réclamations</p>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card h-100 box">
        <i class="bi bi-circle-fill cirle" style=" margin-left: 35%;margin-top: -20%; font-size: 5rem; color:white;">
        </i>

        <i class="bi bi-circle-fill cirle" style=" margin-left: 33.5%;margin-top: -37%; font-size: 5rem; color:#FF5330;">
        <img class="card-image" src="assets\image\truck.PNG" style="position: relative; margin-left: -70px; width:60px; margin-top: -12px;">
        </i>

        <div class="card-body">
          <h5 class="card-title " style="margin-left: 25%;font-weight: 700; font-family:poppins, normal;font-size: large;">Livraison Gratuit</h5>
          <p class="card-text " style="font-size:18px;padding-bottom: 10%; margin-top:18%;color: white;text-align: center;font-family:poppins, normal;font-weight: 100;">Sur les achats supérieurs<br> à 99 TND</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 box">
        <i class="bi bi-circle-fill cirle" style=" margin-left: 35%;margin-top: -20%; font-size: 5rem; color:white;">
        </i>
        <i class="bi bi-circle-fill cirle" style=" margin-left: 33.5%;margin-top: -37%; font-size: 5rem; color:#FF5330;">
          <img class="card-image" src="assets\image\speaker.PNG" style="position: relative; margin-left: -66.5px; width:54.5px; margin-top: -18px;">

        </i>
        <div class="card-body">
          <h5 class="card-title" style="margin-left:10%; font-weight: 700;font-family:poppins, normal;font-size: large;">Promotions Personnalisées</h5>
          <p class="card-text"style="font-weight: 100;padding-bottom: 10%; margin-top:18%;color: white;text-align: center;font-family:poppins, normal;font-size:18px;">Les avis de nos clients parler<br>pour eux-mêmes</p>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>
